body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: url(../img/Contacto/OE9TCG0.jpg)no-repeat 0px 0px;
    /* background: #b52e31; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

    h1 {
        font-size: 45px;
        letter-spacing: 5px;
        color: rgb(7, 7, 7);
        margin: 2em 0 1.5em;
        text-shadow: 5px 5px 5px #aaa;
        font-weight: bold;
    }

    h2 {
        font-size: 30px;
        letter-spacing: 5px;
        color: rgb(7, 7, 7);
        margin: 2em 0 1.5em;
        text-shadow: 5px 5px 5px #aaa;
        font-weight: bold;
    }

    .login-form input[type="submit"] {
        background: #335EFF;
        color: #fff;
        font-size: 18px;
        border: none;
        text-transform: capitalize;
        border: 2px solid #335EFF;
        width: 100%;
            box-sizing: border-box;
        border-radius: 24px;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        padding: 10px 0;
        letter-spacing: 1px;
        margin-top: 15px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        font-family: 'Montserrat', sans-serif;
    }
    button{
        background: #335EFF;
        color: #ffffff;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
        padding: 12px 60px;
        cursor: pointer;
        width: 15%;
        border-radius: 6px;
    }
    .login-form input[type="button"]:hover {
		background:transparent;
    }